<p class="social-links">
    {% if site.twitter %}
    <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
        <span class="fa-twitter fa" aria-hidden="true"></span>
        <span class="screen-reader-text">Twitter</span>
    </a>
    {% endif %}
    {% if site.github %}
    <a href="https://github.com/{{ site.github }}" target="_blank">
        <span class="fa-github fa" aria-hidden="true"></span>
        <span class="screen-reader-text">GitHub</span>
    </a>
    {% endif %}
</p>